[Unit]
Description=VENUS PLC Data Acquisition Service
After=network.target

[Service]
User=ecris
Group=ecris
WorkingDirectory=/opt/venus_data_service
EnvironmentFile=/etc/default/venus_database
ExecStart=/opt/venus_data_service/.venv/bin/python3 /opt/venus_data_service/venus_database_service.py --interval 1.0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
